body
{
background-color: #35589A;
}
.btn btn-outline-warning
{
    position: relative;
    top: 200px;
}
.baslik{
    
    
    font-family: 'Kaushan Script', cursive;
    
    font-size: 32px;
    color:#fff;
    text-align:center;
}
.renk-p1
{
    font-style: oblique;
    font-size: 24px;
    position: absolute;
    left: 250px;
    top: 480px;
    
}
.h1-tip
{
    font-family: 'Kaushan Script', cursive;
    padding-left: 10px;
    color: #21E6C1;
    font-size: 24px;
    
}
.h2-tip
 {
    font-style: oblique;
    font-size: 32px;
    position: absolute;
    padding-left: 80px;
    top: 780px;
    color: #21E6C1;
 }
.renk-p2
{
    font-style: oblique;
    position: absolute;
    font-size: 24px;
    left: 200px;
    top: 850px;
}
#fotokonum
{
    position: relative;
    left: 350px;
    top:-400px;
}
#fotokonum2
{
    max-width: 100%;
    height:auto;
    box-sizing:border-box;
    display:block;
    position: relative;
    left: 580px;
    top:-180px;
    
}
#fotokonum3
{
    
    max-width: 100%;
    height:auto;
    box-sizing:border-box;
    display:block;
    position:relative;
    left:800px;
    top: -300px;
}
