#baslik-color-font
        {
            font-family: 'Bebas Neue', cursive;
            font-family: 'Kaushan Script', cursive;
                font-size: 32px;
                color:#CCF381;
                
        }
        #altbaslikrenk
        {
            font-family: 'Alfa Slab One', cursive;
            font-family: 'Anton', sans-serif;
            font-family: 'Bebas Neue', cursive;
            font-family: 'Kaushan Script', cursive;
            color:#FFA8A8;
            font-size: 24px;
        }
        #fotolocate1
        {
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;
            
            
        }
        #fotolocate2
        {
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;
            left:600px;
            top:-340px;
        }
     
        #liselocale
        {
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;
            position: relative;
            top:0px;
        }
        #unifotolocale
        {
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;
            top:0px;
        }
        #unifotolocale2
        {
            
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;
            top:-360px;
            left:600px
        }
        #bilisimlocale
        {
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;

        }
        #test
        {
            position: relative;
            max-width: 100%;
            height:auto;
            box-sizing:border-box;
            display:block;
            top:10px;
            right: 10px;
            padding:2px;
        }